@media screen and (max-width: 1300px) {
    .w-70{
        width: 80%;
    }
    .products__normal .product__boxs .product__item{
        width: 198px;
    }
    .product__image > div{
        font-size: 10px;
    }
}
@media screen and (max-width: 640px) {
    .w-70{
        width: 80%;
    }
    .products__normal .product__boxs .product__item{
        width: 200px;
    }
    .product__image > div{
        font-size: 10px;
    }
}
@media screen and (max-width: 500px) {
    .w-70{
        width: 90%;
    }
    .products__normal .product__boxs .product__item{
        width: 48%;
    }
    .product__image > div{
        font-size: 10px;
    }
}